services:
  mosquitto:
    #socket_domain ipv4 https://github.com/eclipse/mosquitto/issues/1004
    image: eclipse-mosquitto
    ports:
      - 1883:1883
      - 1884:1884
    volumes:
      - ${PWD}/containers/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
    restart: unless-stopped
  influx:
    image: influxdb
    ports:
      - "8086:8086"
    volumes:
      - ${PWD}/containers/influxdb:/var/lib/influxdb
      - ${PWD}/containers/influxdb/data:/var/log/influx
    environment:
      - INFLUXDB_DB:=mqtt
    restart: always
  home_status:
    build: ./home_status
    volumes:
      - /var/log/home_status:/var/log/home_status
    environment:
      - BROKER=10.0.0.91
  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt
    volumes:
      - ${PWD}/containers/zigbee2mqtt/data:/app/data
      - /run/udev:/run/udev:ro
    devices:
      - /dev/ttyACM0:/dev/ttyACM0
    restart: always
    network_mode: host
    privileged: true
    environment:
      - TZ=Europe/Berlin
  mqtt2influx:
    build:
      context: ./py/influx
    network_mode: "host"
    depends_on:
      - "mosquitto"
      - "influx"
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    network_mode: "host"
    volumes:
      - ${PWD}/containers/grafana/data:/var/lib/grafana
      - ${PWD}/containers/grafana/grafana.ini:/etc/grafana/grafana.ini:ro
      - ${PWD}/containers/grafana/provisioning:/etc/grafana/provisioning:ro
    depends_on:
      - "influx"
    restart: always
  loki:
    image: grafana/loki:2.9.2
    volumes:
      - ./loki/loki-config.yaml:/etc/loki/local-config.yaml
    ports:
      - 3100:3100
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - loki

  promtail:
    image: grafana/promtail:2.9.2
    volumes:
      - /home/wass/share:/var/log/share
      - /opt/zigbee2mqtt/data/log:/var/log/zigbee
      - ./loki/promtail-config.yaml:/mnt/config/promtail-config.yaml
    command: -config.file=/mnt/config/promtail-config.yaml
    networks:
      - loki

  udp2mqtt:
    build:
      context: ./py/thread_tags
    network_mode: "host"
    volumes:
      - ${PWD}/py/thread_tags/data:/var/log/thread
    depends_on:
      - "mosquitto"
  webapps:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ${PWD}/containers/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ${PWD}/containers/nginx/404.html:/usr/share/nginx/html/404.html:ro
      - ${PWD}/containers/nginx/_next:/usr/share/nginx/html/_next:ro
      - ${PWD}/web/overview/public:/usr/share/nginx/html/home:ro
      - ${PWD}/web/heating:/usr/share/nginx/html/heat:ro
      - ${PWD}/web/home-next/out:/usr/share/nginx/html/next:ro
      - ${PWD}/../smart_home_3d_webapp:/usr/share/nginx/html/3d:ro
      - ${PWD}/../nRF52_Mesh/nodes.json:/usr/share/nginx/html/nodes.json:ro
    network_mode: "host"
    restart: always
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/raspberrypi4-homeassistant:stable"
    volumes:
      - ${PWD}/containers/homeassistant/config:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    privileged: true
    network_mode: host

networks:
  loki:
