[Unit]
Description=file monitor and feeder to the log.io ervice
After=multi-user.target

[Service]
Environment="LOGIO_FILE_INPUT_CONFIG_PATH=/home/pi/raspi/js/log.io/input/file.json"
Type=simple
ExecStart=log.io-file-input
Restart=on-abort

[Install]
WantedBy=multi-user.target
