[Unit]
Description=manages the bathroom fan and light from switch and sensors
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/wass/raspi/py/bathroom/bathroom.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
