[Unit]
Description=control lifx light from mqtt buttons and switch events
After=multi-user.target

[Service]
Type=simple
ExecStart=node /home/pi/raspi/js/lifx/run.js
Restart=on-abort

[Install]
WantedBy=multi-user.target
