[Unit]
Description=collects MQTT sensors data and sends them to influx database
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/wass/raspi/py/influx/venv/bin/python /home/wass/raspi/py/influx/influx_client.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
