[Unit]
Description=notifies on entrance shelly heaing with red led and open windows with blue led
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/raspi/py/home_status/home.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
