[Unit]
Description=cuts a rooms heat when a room's window is open
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/wass/raspi/py/heating/heat.py
Restart=always

[Install]
WantedBy=multi-user.target
